* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

button{
	cursor: pointer;
}

.hidden {
	display: none !important;
}

/* navbar start from here */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

.nav_list ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 21px;
}

.nav_list ul li {
	font-size: 18px;
	cursor: pointer;
	position: relative;
}

.navbar li::after {
	content: '';
	position: absolute;
	background-color: black;
	left: 0;
	bottom: -4px;
	height: 3px;
	width: 0;
	transition: all .3s linear;
}

.navbar li:hover::after {
	width: 100%;
}



.nav_buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.nav_buttons button {
	outline: none;
	border: none;
	border-radius: 30px;
	padding: 11px 28px;
	font-size: 18px;
	cursor: pointer;
}

.nav_buttons img {
	cursor: pointer;
}

.nav_button_one {
	background-color: #F1F1F1;
	color: black;
}

.nav_button_two {
	color: white;
	background-color: black;
}



/* offter start */

.offer_section {
	background-image: url(images/Rectangle\ 1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 760px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	border-bottom: 2px solid black;
}



.offer {
	padding: 6% 0;
	border-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.offer_div_1 h3 {
	font-size: 45px;
}


.offer_div_3 {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.offer_div_2 select {
	width: 80%;
	margin: 0 auto;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: #ECECEC;
	border-radius: 5px;
	padding: 10px 30px;
}

.offer_div_3 input {
	flex-grow: 4;
	margin: 0 10px;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: #ECECEC;
	border-radius: 5px;
	padding: 10px 30px;
	text-align: center;
}

.offer_div_3 input::placeholder {
	color: black;
}

.offer_div_3 button {
	flex-grow: 1;
	margin: 0 10px;
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 50px;
	padding: 10px 30px;
	background-color: #00EBC7;
	cursor: pointer;
}



.offer_div_2 {
	margin: 40px 0;
	width: 85%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.logo img {
	cursor: pointer;
}

.Why_Zappr {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	padding: 7px 25px;
	font-size: 16px;
	border-radius: 50px;
	position: absolute;
	bottom: 50px;
}

.Why_Zappr p {
	position: relative;
}

.Why_Zappr p::after {
	content: '';
	background-color: white;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -2px;
	left: 0;

}

.offter_input {
	background-color: #ECECEC;
	outline: none;
	border: none;
	padding: 11px 28px;
	font-family: 16px;
	border-radius: 10px;
}

.offer_section_two {
	width: 100%;
	background-color: #FDE24F;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid black;
}

.offer_section_two_main_div{
	width: 80%;
	margin: auto;
}

.frame_15{
	display: grid;
	grid-template-columns: repeat(6,1fr);
}

.frame_15 img{
	margin: 0 auto;
}



.offer_section_two div h3 {
	font-size: 34px;
	text-align: center;
	margin: 70px 0;
}

.offer_section_two div img {
	margin-bottom: 70px;
}

.font {
	font-weight: 500;
}


/* section 3 */

.section_3 {
	padding: 4%;
	line-height: 20px;
	border-bottom: 2px solid lightgray;
}

.section_3 h3 {
	font-size: 34px;
}


.all_features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: center;
}

.all_features div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	text-align: center;
}

.all_features div img {
	width: 35%;
	margin-bottom: 20px;
}

.all_features div h5 {
	font-size: 18px;
	margin-bottom: 20px;
}

.all_features div p {
	font-size: 15px;
	color: #535353;
	margin-bottom: 40px;
}

.all_features div button {
	border: none;
	outline: none;
	background-color: transparent;
	margin-bottom: 20px;
	position: relative;

}

.all_features div button::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background-color: black;
}

.section_3_btn_div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_3_btn {
	margin-top: 100px;
	border: 3px solid black;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	border-radius: 50px;
}


.all_features {

	width: 80%;
	margin: 80px auto 0 auto;
}

.feature_1,
.feature_2 {
	position: relative;
}

.feature_1::after,
.feature_2::after {
	content: '';
	position: absolute;
	background-color: black;
	height: 2px;
	width: 50%;
	left: 100%;
	top: 30%;
}

/* ------------------------------------------- */

.section_4 {
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #F8F8F8;
}

.section_4_div_1,
.section_4_div_2 {
	width: 100%;
	padding: 2% 0;
}

.section_4_div_2 {
	border-left: 2px solid black;
}

.buy_sell {
	background-color: white;
	width: 90%;
	margin: 30px auto;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	border: 1px solid black;
}

.section_4_h5 {
	font-size: 40px;
	margin-left: 35px;
}

.section_4_btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_4_btn button,
.last_section button {
	background-color: black;
	color: white;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 10px;
}


/* ----------------- */

.last_section {
	background-color: #CFBAFF;
	padding: 9% 7%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.last_section h1 {
	font-size: 70px;
	text-align: center;
	margin-bottom: 100px;
}

.last_section button {
	font-size: 25px;
	border-radius: 30px;
}


/* --------------------- */

.footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer_div_1 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 4%;
}

.footer_sub-div_1,
.footer_sub-div_2,
.footer_sub-div_3,
.footer_sub-div_4 {
	line-height: 35px;
}

.footer_div_2 {
	border-top: 1px solid white;
	padding: 3%;
}

.footer_sub-div_1 h5 {
	font-size: 40px;
}

.footer_sub-div_2 h5,
.footer_sub-div_3 h5,
.footer_sub-div_4 h5 {
	font-size: 24px;
}

.footer_sub-div_2 ul li,
.footer_sub-div_3 ul li,
.footer_sub-div_4 ul li {
	list-style: none;
	font-size: 18px;
}

.footer_div_2 p {
	font-size: 13px;
	text-align: center;
}

/* responsive */

@media (max-width: 1126px) {
	.offer_div_2 {
		grid-template-columns: repeat(2, 1fr);

		& select {
			margin-bottom: 10px;
		}
	}

	.section_4 {
		flex-direction: column;

		.section_4_div_2{
			border-left: none;
			border-top: 2px solid black;
		}
	}

	.feature_1::after, .feature_2::after{
		width: 0;
	}
}


@media (max-width: 1051px){
	.footer_div_1{
		grid-template-columns: repeat(4, 1fr);
	}
}


@media (max-width: 862px){
	.nav_list{
		display: none;
	}

	.all_features{
		grid-template-columns: repeat(2, 1fr);
	}

	.all_features div{
		margin-bottom: 20px;
	}

	.frame_15{
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (max-width: 652px){
	.last_section h1{
		font-size: 50px;
	}
	.footer_div_1{
		gap: 20px;
	}
	.logo img{
		width: 80%;
	}
	.nav_buttons button{
		font-size: 15.5px;
		padding: 10px 20px;
	}
	.buy_sell{
		padding: 2%;
	}
}

@media (max-width: 558px){
	.offer_div_2 {
		grid-template-columns: repeat(1, 1fr);

		& select {
			margin-bottom: 10px;
		}
	}

	.offer{
		padding: 5%;
	}

	.offer_div_3{
		flex-direction: column;

		& input{
			margin-bottom: 40px;
		}
	}

	.all_features{
		grid-template-columns: repeat(1, 1fr);

		& div{
			margin: auto;
		}
	}

	.section_3 h3{
		line-height: 40px;
	}

	.offer{
		border: 2px solid black;
	}

	.frame_15{
		grid-template-columns: repeat(2, 1fr);
	}

	.footer_sub-div_1 h5{
		font: 18px;
	}

	.footer_sub-div_2 h5, .footer_sub-div_3 h5, .footer_sub-div_4 h5{
		font: 15px;
	}

	.footer_sub-div_2 ul li, .footer_sub-div_3 ul li, .footer_sub-div_4 ul li{
		font-size: 13px;
	}

	.footer_div_2 p{
		font-size: 10px;
	}
}


@media (max-width: 485px){
	.offer_div_1 h3{
		font-size: 30px;
	}	
}
